@model Usuario

<h1 class="row justify-content-md-center">Edição de Usuário</h1>

<div class="row justify-content-md-center">
    <form asp-action="editarUsuario" method="POST" class="col-md-4">
        <fieldset>
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="Nome">Nome</label>
                <input asp-for="Nome" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="login">Login</label>
                <input asp-for="login" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="senha">Senha</label>
                <input asp-for="senha" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="tipo">Tipo de Usuário</label>
                <select asp-for="tipo" class="form-control">
                    <option value="">Selecione um tipo de usuário....</option>
                    <option value="@Usuario.ADMIN">Administrador</option>
                    <option value="@Usuario.PADRAO">Padrão</option>
                </select>
            </div>
        </fieldset>
        <input type="submit" value="Editar" class="btn btn-primary"/>
    </form>
</div>